body{
	background-size: 120%;
	background-image: url('1.jpg');
}

.login{
	width: 300px;
	height: 100px;
	position: relative;
	left: 35%;
}

#inp1, #inp2{
	height: 50px;
	width: 250px;
	position: relative;
	margin-top: 3%;
	border-radius: 30px;
}


div.menu{
	width: 200px;
	height: 700px;
	max-width: 200px;
	min-height: 1337px;
	max-width: 1337px;
	position: fixed;
	transition: all ease 1s;
	opacity: 0;
}

#item1,	#item2{
	width: 300px;
	height: 300px;
	border-radius: 15%;
	position: relative;
	margin-top: 5%;
	left: 150px;
	border: 2px solid white;
	transition: all ease 1s;
}

#item3,	#item4{
	width: 300px;
	height: 300px;
	border-radius: 15%;
	position: relative;
	margin-top: 5%;
	left: 500px;
	top: -40%;
	border: 2px solid white;
	transition: all ease 1s;
}

#item1{
	top: 7%;
	background-size: 180%;
	background-image: url('https://i.ytimg.com/vi/QJZNO_YC1yA/maxresdefault.jpg');
}

#item2{
	top: 10%;
	background-size: 120%;
	background-image: url('https://images.hdqwalls.com/download/kratos-god-of-war-art-rp-2932x2932.jpg');
	
}

#item4{
	background-size: 180%;
	background-image: url('https://ixbt.online/gametech/covers/2020/11/14/ZYai9dee2rNcrScdqr7flPNFelKtEd6QuIiI3n7w.jpeg');
	top: -37%;
}

#item3{

	background-size: 120%;
	background-image: url('https://gamebomb.ru/files/galleries/001/1/17/332970.jpg');
}

