body{
	background-image: url('2.jpg');
	background-size: 100%;
	transition: all ease 1s;
	min-height: 1337px;
	max-height: 1337px;
	min-width: 750px;
	max-width: 750px;
	position: fixed;
	width: 750px;
	height: 1337px;
	touch-action: none;
}

.menu{
	position: relative;
	transition: all ease 1s;
	max-height: 1337px;
	max-width: 750px;
	left: 14%;
}

#menu1{
	width: 750px;
	height: 100px;
	position: relative;

	transition: all ease 1s;
	background-color: white;
	opacity: 0.5;
	border-radius: 20px;
}

#menu2{
	height: 70px;
	width: 200px;
	opacity: 0.5;
	position: relative;
	top: 1%;
	left: 50%;
	border-radius: 20px;
	background-color: white;
}

#icon1{
	height: 150px;
	width: 150px;
	margin-left: 27%;
	position: relative;
	top: -7%;
	background-size: 60%;
	background-repeat: no-repeat;
	background-image: url('https://cdn1.iconfinder.com/data/icons/arrows-14/24/Arrow-Down-512.png');
}