body{
	background-size: 120%;
	background-image: url('1.jpg');
}

#login{
	width: 300px;
	height: 100px;
	position: relative;
	transition: all ease 0.5s;
	left: 35%;
	margin-top: 3%;
}

#inp1, #inp2{
	height: 50px;
	width: 250px;
	position: relative;
	margin-top: 3%;
	border-radius: 45px;
}

div.menu{
	width: 200px;
	height: 700px;
	max-width: 200px;
	min-height: 1337px;
	max-width: 1337px;
	position: fixed;
	transition: all ease 0.5s;
	opacity: 0;
	margin-top: 20%;
}

div.menu2{
	width: 200px;
	height: 700px;
	max-width: 200px;
	min-height: 1337px;
	max-width: 1337px;
	position: relative;
	transition: all ease 1s;
	opacity: 1;
	margin-left: 45%;
	margin-top: 23%;
}

div.item{
	width: 300px;
	height: 300px;
	position: relative;
	margin-top: 10%;
	left: 100px;
	border: 3px solid white;
	transition: all ease 1s;
	border-radius: 5%;
}

.item{
	background-size: 180%;
	background-image: url('https://wallpapershome.ru/images/pages/pic_h/9438.jpg');
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
	width: 300px;
	height: 300px;
	position: relative;
	transition: all ease 1s;
}